*.pyc
.project
.pydevproject
.DS_Store
/service manuals/
/build/
/dist/
/A1762-13_1K.bin
/al.bin
/b4A1762.bin
/b4game.bin
/bmA1762.bin
/bmgame.bin
/ca.bin
/crA1762.bin
/crgame.bin
/crgamex4.bin
/fa.bin
/flA1762.bin
/flgame.bin
